<ion-card class="order">
  <ion-card-header>
    <ion-card-title>Konfirmasi Pesanan</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div *ngFor="let transaksi of transaksiList" [hidden]="transaksi.status_pembayaran === 'selesai'">
      <p [hidden]="! transaksi.order.meja"><strong>Meja:</strong> {{ transaksi.order.meja ? transaksi.order.meja.nama_meja : '' }}</p>
      <p><strong>Nama:</strong> {{ transaksi["user.username"] }}</p>
      <p><strong>waktu:</strong> {{ transaksi.created_at }}</p>
      <p><strong>Jenis Layanan:</strong> {{ transaksi.order.jenis_order  }}</p>
      <div style="align-items: center; display:flex;">
        <strong>Status Pembayaran:</strong>
        <ion-badge [color]="transaksi.status_pembayaran === 'selesai' ? 'success' : 'danger'">{{ transaksi.status_pembayaran }}</ion-badge>
      </div>
      <p><strong>Metode:</strong> {{ transaksi.metode_pembayaran }}</p>
      <p><strong>Total:</strong> Rp {{ transaksi.total_harga | number:'1.0-0' }}</p>
  
      <!-- Tombol Konfirmasi -->
      <ion-button expand="block" color="success" (click)="konfirmasiPesanan(transaksi.id)">
        Konfirmasi & Selesaikan
      </ion-button>
    </div>
  </ion-card-content> 
</ion-card>

<!-- Jika tidak ada data -->
<ion-card *ngIf="transaksiList.length <= 0">
  <ion-card-content>
    <p>Tidak ada pesanan untuk dikonfirmasi.</p>
  </ion-card-content>
</ion-card>
